@use '../../../assets/Sass/variables.scss';
@use '../../../assets//Sass/mixins.scss';

.stats-home-container{
    position: relative;
    min-height: 400px;
    background-color: #F7F2E3;
    background-image: url(../../../assets/images/stats.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    @include mixins.homeContainer;
    @include mixins.homeSectionMargin;

    @include mixins.mQ-phones(480px){
        background-size: 50% 20%;
        min-height: 250px;
    }

    @include mixins.mQ-other(481px,768px){
        background-size: 65% 60%;
        min-height: 250px;
    }

    @include mixins.mQ-other(769px,1149px){
        min-height: 250px;
        background-size: 65% 70%;
    }

    @include mixins.mQ-other(1150px, 1699px){
        min-height: 350px;
        background-size: 65% 70%;
    }

    @include mixins.mQ-largerDesktops(1700px){
        background-size: 60% 70%;
    }
}

.stats-home-holder{
    min-height:400px;
    margin-left:50px;
    a{
        text-decoration: none;
        z-index:2;
    }

    .stats-home-title{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size:1.4em;
        z-index:2;
    }

    .stats-home-text{
        font-size:0.85em;
        width:40%;
        word-spacing: 1.5px;
        z-index:2;
    }

    .stats-home-link{
        cursor: pointer;
        color: #000;
        font-size:1.5em;
        margin-top:20px;
        svg{
            margin-left:10px;
        }

        
        &:hover{
            color:variables.$titleColor;

            svg{
                transition: margin-left 0.5s ease-out;
                margin-left:50px;
            }
        }
    }

    @include mixins.mQ-phones(480px){
        min-height: 250px;
        .stats-home-title{
            font-size: 18px;
            padding-top:20px;
        }

        .stats-home-text{
            font-size: 0.7em;
            width: 50%;
        }

        .stats-home-link{
            font-size: 1em;
            padding-bottom: 20px;
        }
    }

    @include mixins.mQ-other(481px,768px){
        min-height: 250px;
        .stats-home-title{
            font-size: 18px;
        }

        .stats-home-text{
            font-size: 0.7em;
        }

        .stats-home-link{
            font-size: 1em;
        }
    }

    @include mixins.mQ-other(769px,1149px){
        min-height: 250px;
        font-size: 0.8em;
    }

    @include mixins.mQ-other(1150px, 1699px){
        min-height: 350px;
    }
}