@use '../../assets/Sass/mixins.scss';
@use '../../assets/Sass/variables.scss';

.upload-picture-form{
    padding:20px;
    border:1px dashed black;
    label{
        margin-bottom:25px;

        .selected-file{
            margin-top:25px;
        }
    }
    input{
        display:none;
        justify-content:space-between;
    }

    .selected-file{
        font-size:0.6em;
    }

    @include mixins.mQ-phones(360px){
        width:90vw;
        margin:20px;
        padding:5px;
        font-size:1em;
    }

    @include mixins.mQ-other(361px, 480px){
        font-size:1em;
        margin-top:30px;
        width:80vw;
        max-height: 200px;

        label{
            font-size: 1.1em;
        }
    }

    @include mixins.mQ-other(481px,768px){
        font-size:1em;
        margin-top:30px;
        width:80vw;
        max-height: 200px;
    }

    @include mixins.mQ-other(769px, 1149px){
        font-size:1em;
        margin-top:30px;
        width:350px;
        max-height: 200px;
    }

    @include mixins.mQ-other(1150px, 1699px){
        font-size:1em;
        margin-top:30px;
        width:400px;
        max-height: 200px;
    }

    @include mixins.mQ-other(1700px, 2299px){
        font-size:1.1em;
        margin-top:30px;
        width:500px;
        max-height: 250px;
    }

    @include mixins.mQ-largerDesktops(2299px){
        font-size:1.5em;
        margin-top:50px;
        width:550px;
        max-height: 300px;
    }
}

.upload-icon-container{
    height: 100%;
    svg{
        margin-top:40px;
        font-size:2em;

        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}