@use '../../assets//Sass/mixins.scss';
@use '../../assets//Sass/variables.scss';

#joint-bet-container{
    border:1px solid black;
}

#joint-bet-inputs-container{
    width:500px;

    ::placeholder{
        font-weight: bold;
        color :#000;
        font-size:0.85em;
        padding-left:5px;
    }

    @include mixins.mQ-phones(480px){
        width:98vw;
        margin: 0 auto;

        ::placeholder{
            font-size:0.7em;
        }
    }

    @include mixins.mQ-other(481px,768px){
        width:85vw;
    }

    @include mixins.mQ-other(1150px, 1699px){
        width: 100%;
    }

    @include mixins.mQ-other(1700px, 2299px){
        width:100%;
    }

    @include mixins.mQ-largerDesktops(2299px){
        width: 100%;
    }
}

.input-joint-side{
    width:50%;
    margin-top:10px;

    #joint-left-side-input1,#joint-right-side-input2{
        margin:10px;
        width:70%;
    }

    #joint-left-side-input2,#joint-right-side-input1{
        width:25%;
        margin:5px;
    }

    @include mixins.mQ-phones(360px){
        display: flex;
        flex-direction: column;
        align-items: center;

        &:last-of-type{
            flex-direction: column-reverse;
        }
        #joint-left-side-input1,#joint-right-side-input2{
            width:45vw;
            margin:5px 2px;
            font-size:16px;
            padding:3px;
        }

        #joint-left-side-input2,#joint-right-side-input1{
            width:45vw;
            margin:5px 2px;
            font-size:16px;
            padding:3px;
        }

        input::placeholder{
            color:#5B5B5B !important;
            text-align: center;
        }
    }

    @include mixins.mQ-other(361px, 480px){
        display: flex;
        flex-direction: column;
        align-items: center;

        &:last-of-type{
            flex-direction: column-reverse;
        }
        #joint-left-side-input1,#joint-right-side-input2{
            width:45vw;
            margin:5px 2px;
            font-size:16px;
            padding:3px;
        }

        #joint-left-side-input2,#joint-right-side-input1{
            width:45vw;
            margin:5px 2px;
            font-size:16px;
            padding:3px;
        }

        input::placeholder{
            color:#5B5B5B !important;
            text-align: center;
        }
    }

    @include mixins.mQ-other(481px,768px){
        display: flex;
        flex-direction: column;
        align-items: center;

        &:last-of-type{
            flex-direction: column-reverse;
        }
        #joint-left-side-input1,#joint-right-side-input2{
            width: 80%;
            margin:5px 2px;
            font-size:16px;
            padding:3px;
        }

        #joint-left-side-input2,#joint-right-side-input1{
            width:80%;
            margin:5px 2px;
            font-size:16px;
            padding:3px;
        }
    }

    @include mixins.mQ-other(769px, 1149px){
        #joint-left-side-input1,#joint-right-side-input2{
            margin:3px;
        }

        #joint-left-side-input2,#joint-right-side-input1{
            margin:2px,
        }
    }

    @include mixins.mQ-other(1149px, 1150px){
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:1em;
        input{
            padding:3px;
        }
    }

    @include mixins.mQ-other(1150px, 1699px){
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:1em;
        input{
            padding:3px;
        }
    }

    @include mixins.mQ-other(1700px, 2299px){
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:1em;
        input{
            padding:3px;
        }
    }
    
    @include mixins.mQ-largerDesktops(2299px){
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:1em;
        width:70%;
        input{
            padding:3px;
        }
    }
}

.full-line-center{
    position: relative;
    width:100%;
    margin-top:5px;

    input{
        height: 25px;
    }

    input:focus{
        border: 2px solid variables.$titleTextColor;
    }

    ::placeholder{
        font-weight: bold;
        color :#000;
        font-size:0.85em;
        padding-left:5px;
    }

    @include mixins.mQ-phones(480px){
        width:100vw;
        flex-wrap: wrap;
        justify-content: center;

        input{
            width: 30%;
            height:30px;
            padding:5px 3px;
            margin:2px;
            font-size: 1em;
        }
    }

    @include mixins.mQ-other(481px,768px){
        input[type=text], input[type=number]{
            width: 30%;
        }

        input{
            height:40px;
            font-size:0.7em;
        }
        input[type=checkbox]{
            height: 25px;
            width: 25px;
        }
    }

    @include mixins.mQ-largerDesktops(769px){
      input[type=text], input[type=number]{
          width: 30%;
      }
    }
}

.full-line-space{
    display:flex;
    position: relative;
    width:100%;
    margin-top:5px;

    #newBetSubject{
        width:250px;
        margin-bottom:20px;
    }

    input{
        height: 25px;
    }

    input:focus{
        border: 2px solid variables.$titleTextColor;
    }

    @include mixins.mQ-phones(480px){
        width:100%;
        flex-wrap: wrap;
        font-size:0.95em;
        padding:3px 3vw;
        align-items: center;

        #newBetSubject{
            margin:3vw;
            width:45vw;
        }

        label{
            width:40vw;
        }

        input[type=text], input[type=number]{
            width:40vw;
            padding:5px;
            font-size: 16px;
        }

        input[type=checkbox]{
            width:20px;
        }
    }

    @include mixins.mQ-other(481px,768px){
        padding:10px;

        #newBetSubject{
            width:60%;
        }

        input{
            height:40px;
            font-size:0.7em;
        }
        input[type=checkbox]{
            height: 25px;
            width: 25px;
        }
    }

    @include mixins.mQ-other(1700px, 2299px){
        input[type=text], input[type=number]{
            width: 30%;
        }
    }
}

.bet-subject{
    margin-bottom: 20px;
    label{
        width:30%;
    }
    input[type=text]{
        width:70%;
        padding:5px 10px;
    }

    @include mixins.mQ-phones(768px){
        flex-direction: column;
        label{
            width:80%;
        }
        input[type=text]{
            width:100%;
            height: 50px;
    }
}
}

.removeAdditionalClauseOrParticipant{
    position: absolute;
    z-index:100;
    font-size:0.8em;
    right:-10px;
    top:-10px;
    &:hover{
        cursor: pointer;
        color:variables.$titleTextColor;
    } 

    @include mixins.mQ-phones(360px){
        right: 0px
    }
 
    @include mixins.mQ-other(361px, 480px){
        right: 0px
    }
}