@use './Sass/mixins.scss';
@use './Sass/variables.scss';
@use './Sass//flexbox.scss';
@use './Sass/common.scss';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-weight: bold;
    font-family: 'Gotu', sans-serif;
    overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::-webkit-input-placeholder{
    font-size:0.60em;
}

.main-container{
    width:100vw;
    min-height: 100vh;

    @include mixins.mQ-other(361px, 480px){
        max-width: 100vw;
        overflow: hidden;
    }
}

.main-background{
background-image:url(./images//wall-background.png);

}

.mobile-alternative-background{
    background-color: #FFFEFC !important;
}

.gradient-background{
background: rgb(210,204,196);
background: linear-gradient(9deg, rgba(210,204,196,1) 0%, rgba(246,244,243,1) 22%, rgba(255,255,255,1) 48%, rgba(241,239,237,1) 71%, rgba(210,204,196,1) 100%);
}

@include mixins.mQ-phones(481px){
    input[type='text']
    input[type='number'],
    textarea {
      font-size: 16px !important;
    }
}