@use '../../../assets/Sass/variables.scss';
@use '../../../assets/Sass//mixins.scss';

.auth-form-main-container{
    width:100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.9);

    .auth-navigation-container{
        position: relative;
        font-size:0.85em;
        justify-content: flex-end;
        
        a{
            text-decoration: none;
            color:variables.$titleTextColor
        }
    
        div{
            padding:5px 12px;
            background-color: variables.$titleColor;
            border-radius: 8px;
    
            &:hover{
                cursor: pointer;
                outline: 2px solid variables.$titleTextColor;
            }
        }
    }
}

.auth-form-holder{
    padding:20px;
    background-color: variables.$alternativeBackground;
    border-radius:10px;
    min-width:40vw;
    border:5px solid black;
    -webkit-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.75);

    @include mixins.mQ-phones(360px){
        width:100vw;
        font-size:0.9em;
        padding:20px 0px;
        background-image: none;
        border-bottom:3px solid black;
        border-top:none;
        border-left:none;
        border-right:none;
        border-radius: 0px;
        box-shadow: none;
    }

    @include mixins.mQ-other(361px, 480px){
        width:100vw;
        padding:20px 0px;
        font-size:0.9em;
        background-image: none;
        border-bottom:3px solid black;
        border-top:none;
        border-left:none;
        border-right:none;
        border-radius: 0px;
        box-shadow: none;
    }

    @include mixins.mQ-other(481px,768px){
        width:90vw;
        min-height: 375px;
    }

    @include mixins.mQ-other(769px, 1149px){
        width:450px;
        min-height: 300px;
    }

    @include mixins.mQ-other(769px, 1149px){
        width:500px;
        min-height:312px;
    }

    @include mixins.mQ-other(1150px, 1699px){
        width:600px;
        min-height:375px;
    }

    @include mixins.mQ-other(1700px, 2299px){
        width:700px;
        min-height: 437.5px;
    }

    @include mixins.mQ-largerDesktops(2299px){
        width:800px;
        min-height:500px;
    }
}

#login-form, #sign-up-form{
    display:flex;
    justify-content: center;
    min-width:500px;

    @include mixins.mQ-phones(480px){
        min-width:100vw;
        width:100vw;
    }

    @include mixins.mQ-other(481px,768px){
        min-width:100vw;
        width:100vw;
        
    }
}

.auth-line{
    position: relative;
    width:350px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input{
        padding:5px;
        background-color: variables.$inputFieldColor;
        &:focus{
           background-color: #FFF;
        }
    }

    svg{
        cursor: pointer;
        position: absolute;
        right:30px;
    }

    @include mixins.mQ-phones(360px){
        width:100vw;
        padding:0px;
        flex-wrap:wrap;
        label{
            padding:10px;
            font-size:1.1em;
        }

        input[type=text], input[type=password], input[type=email]{
            width:90vw;
            padding:10px 4px;
            font-size: 1.2em;
            margin: 0 auto;
        }

        input[type=checkbox]{
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }

        svg{
            bottom:10px;
            font-size:1.7em;
        }
    }

    @include mixins.mQ-other(361px, 480px){
        width:100vw;
        flex-wrap: wrap;
        padding:2px;
        label{
            min-width: 30vw;
            padding:10px;
            font-size:1.4em;
        }
        input[type=text], input[type=password], input[type=email]{
            font-size: 1.3em;
            padding:15px 7px;
            width:90vw;
            margin:0 auto;
        }

        input[type=checkbox]{
            width: 25px;
            height: 25px;
            padding:5px;
            margin-right: 20px;
        }

        svg{
            bottom:15px;
            right:35px;
            font-size:2em;
        }
    }
    
    @include mixins.mQ-other(481px,768px){
        width:75vw;
        label{
            font-size: 1.1em;
        }
        input[type=text], input[type=password], input[type=email]{
            font-size: 1.1em;
            padding:5px;
            width:50vw
        }
        input[type=checkbox]{
            padding:8px;
            width: 15px;
            height: 15px;
        }

        svg{
            right:20px;
        }
    }

    @include mixins.mQ-other(769px, 1149px){
        width:400px;
        label{
            font-size: 0.9em;
        }
        input[type=text], input[type=password], input[type=email]{
            font-size: 0.9em;
            padding:7px 10px;
            width:250px;
        }
        input[type=checkbox]{
            padding:8px;
            width: 15px;
            height: 15px;
        } 

        svg{
            right:20px;
        }
    }

    @include mixins.mQ-other(1150px, 1699px){
        width:500px;
        label{
            font-size: 1em;
        }
        input[type=text], input[type=password], input[type=email]{
            font-size: 1em;
            padding:7px 10px;
            width:250px;
        }
        input[type=checkbox]{
            padding:8px;
            width: 15px;
            height: 15px;
        } 

        svg{
            right:20px;
        }
    }

    @include mixins.mQ-other(1700px, 2299px){
        width:500px;
        label{
            font-size: 1.1em;
        }
        input[type=text], input[type=password], input[type=email]{
            font-size: 1.1em;
            padding:8px;
            width:350px;
        }
        input[type=checkbox]{
            padding:8px;
            width: 15px;
            height: 15px;
        } 

        svg{
            right:25px;
        }
    }

    @include mixins.mQ-largerDesktops(2299px){
        width:600px;

        label{
            font-size: 18px;
        }
        input[type=text], input[type=password], input[type=email]{
            font-size: 16px;
            padding:15px 10px;
            width:400px;
        }
        input[type=checkbox]{
            padding:10px;
            width: 20px;
            height: 20px;
        }
    }
}

.hide-placeholder input::placeholder{
    @include mixins.mQ-phones(360px){
        color:transparent;
    }

    @include mixins.mQ-other(361px, 480px){
        color:transparent;
    }
}

.forgot-password-link{
    display:inline-block;
    margin-top:10px;
    font-size:0.7em;
    color:#2D89D1;
    text-decoration:underline;
    &:hover{
        cursor: pointer;
    }

    @include mixins.mQ-phones(360px){
        margin-top:20px;
        font-size:1em
    }

    @include mixins.mQ-other(361px, 480px){
        margin:20px 0px;
        font-size:1em;
    }

    @include mixins.mQ-largerDesktops(2299px){
        font-size:0.8em;
    }
}

.sign-out-page{
    background-image:url(../../../assets/images/wall-background.png);
    width:100vw;
    height:100vh;
    text-align: center;
    font-size:2em;
}