@use '../../../assets/Sass/variables.scss';
@use '../../../assets/Sass//mixins.scss';

#goodbye-container{
    div{
        font-size:3em;
        height:200px;
    }
    span{
        font-size:0.8em;
    }
    @include mixins.mQ-phones(380px){
        div{
            font-size:1.1em;
            height:80px;
        }
        span{
            font-size: 0.4em;
        }
    }
    
    @include mixins.mQ-other(381px, 480px){
        div{
            font-size:1.4em;
            height:100px;
        }
        span{
            font-size: 0.5em;
        }
    }
    
    @include mixins.mQ-other(481px,768px){
        div{
            font-size:1.8em;
            height:120px;
        }
        span{
            font-size: 0.6em;
        }
    }
    
    @include mixins.mQ-other(769px,1149px){
        div{
            font-size:2em;
            height:150px;
        }
        span{
            font-size: 0.7em;
        }
    }
}

.deactivate-container{
    padding-top:20vh;
    min-height:80vh;


    @include mixins.mQ-phones(480px){
        height:75vh;
        margin-top:5vh;
        padding:0px;
        border-bottom:3px solid black;

        .auth-form-holder{
            min-height: 60vh;
            border-bottom: none;
        }
    }

    @include mixins.mQ-other(481px,768px){
        padding-top: 10vh;
        font-size:1.2em;
        height: 60vh;

        .auth-form-holder{
            height:60vh;
        }
    }

    @include mixins.mQ-other(769px,1149px){
        height:50vh;
    }

    @include mixins.mQ-other(1150px, 1699px){
        height: 60vh;
    }

    @include mixins.mQ-other(1700px, 2299px){
        height:60vh;
    }

    @include mixins.mQ-largerDesktops(2299px){
        height: 60vh;
    }
}

.deactivate-auth-line{
    width:400px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    background-color: #D1D1D1;
    align-items: center;

    @include mixins.mQ-phones(360px){
        width:95vw;
        padding:10px;
        font-size:0.9em;
        label{
            text-align: center;
            font-size:0.85em;
        }
        input{
            height:25px;
        }
    }

    @include mixins.mQ-other(361px, 480px){
        width:90vw;
        padding:10px;
        label{
            text-align: center;
            font-size:0.85em;
        }
        input{
            height:25px;
        }
    }

    @include mixins.mQ-other(481px,768px){
        width: 75vw;
    }
}

#deactivate-question{
    font-size:1.5em;

    @include mixins.mQ-phones(360px){
        text-align: center;
        font-size:1.8em;
        padding:10px;
        padding-bottom:50px;
    }

    @include mixins.mQ-other(361px, 480px){
        text-align: center;
        font-size:1.8em;
        padding:10px;
    }

    @include mixins.mQ-other(481px,768px){
        text-align: center;
        padding:20px;
    }
}

#deactivate-note{
    font-size:0.8em;
    color:variables.$warningColor;
}

.deactivate-label{
    label{
        font-size:0.9em;
    }
}
