@use '../../assets/Sass/mixins.scss';
@use '../../assets/Sass/variables.scss';

#notification-container{
    position: relative;
    width:50%;
    border-radius: 4px;
    @include mixins.homeSectionMargin;

    @include mixins.mQ-phones(360px){
        width:95vw;
        min-height: 200px;
        padding:5px;
    }

    @include mixins.mQ-other(361px, 480px){
        width:95%;
        min-height: 100px;
        padding:8px 0px;
    }
    
    @include mixins.mQ-other(481px,768px){
        width:100%;
        min-height: 200px;
    }

    @include mixins.mQ-other(769px,1149px){
        min-height: 200px;
        padding:15px;
    }

    @include mixins.mQ-other(1150px, 1699px){
        min-height: 250px;
    }

    @include mixins.mQ-other(1700px, 2298px){
        min-height: 300px;
    }

}

#notification-holder{
    width:90%;
}

#notification-title{
    @include mixins.homeTitle;
}

#newer-notifications-holder{
    font-size:0.80em;

    @include mixins.mQ-phones(360px){
        font-size:1.2em
    }

    @include mixins.mQ-other(361px, 480px){
        font-size: 1em;
    }

    @include mixins.mQ-other(481px,768px){
        font-size:0.9em;
    }

    @include mixins.mQ-largerDesktops(2299px){
        font-size: 1em;
    }
}

#older-notifications-holder{
    font-size:0.7em;

    .notification-item{
        margin:3px 0px;
    }

@include mixins.mQ-phones(360px){
    .notification-item{
        font-size: 1.06em;
    }
}

@include mixins.mQ-other(361px, 480px){
font-size:0.75em;
}

@include mixins.mQ-other(481px,768px){
    font-size:0.85em;
}

@include mixins.mQ-largerDesktops(2299px){
    font-size: 0.8em;
}
}

.older-notifications-title{
    align-self: center;
    font-size:0.8em;
    margin-top:20px;
    margin-bottom:20px;
    color:#909090;


    @include mixins.mQ-phones(360px){
        margin-top:20px;
        margin-bottom: 5px;
        font-size:1.3em;
    }

    @include mixins.mQ-other(361px, 480px){
        margin-top:20px;
        margin-bottom: 5px;
        font-size:1.2em;
    }

    @include mixins.mQ-other(481px,768px){
        margin-top: 5px;
        margin-bottom: 5px;
    }

    @include mixins.mQ-other(769px,1149px){
        margin-top:8px;
        margin-bottom: 8px;
    }

    @include mixins.mQ-other(1150px, 1699px){
        margin-top:10px;
        margin-bottom: 10px;
    }
}

.notification-approval-container{
    margin-top:20px;
    margin-bottom:20px;

    @include mixins.mQ-phones(360px){
        margin-top: 10px;
        margin-bottom: 10px;
    }

    @include mixins.mQ-other(481px,768px){
        margin-top:5px;
        margin-bottom: 5px;
    }

    @include mixins.mQ-other(769px,1149px){
        margin-top:10px;
        margin-bottom: 10px;
    }
}

.notification-number{
    
    @include mixins.mQ-other(481px,768px){
        font-size:2em !important;
    }
    
    @include mixins.mQ-other(769px,1149px){
        font-size:2em !important;
    }
    
    @include mixins.mQ-other(1150px,1699px){
        font-size:2em !important;
    }
}

.show-more-notifications-container{
    width:100%;
    padding-top: 20px;
    font-size:0.8em;
    align-self: flex-end;
    .show-more-notifications-holder{
        cursor: pointer;
        background-color: variables.$titleColor;
        padding:10px 20px;
        border-radius: 15px;

        &:hover{
            border:1px solid black;
            padding:9px 20px;
        }
    }

    @include mixins.mQ-phones(480px){
        .show-more-notifications-holder{
            padding:7px 15px;
            font-size:0.85em;
        }
    }

    @include mixins.mQ-other(769px,1149px){
        font-size: 0.7em;
    }
}
