@use '../../assets/Sass/variables.scss';
@use '../../assets/Sass/mixins.scss';

#upper-home-container{
    margin-top:100px;
    margin-bottom: 30px;
    min-height:300px;
            
    @include mixins.mQ-phones(360px){
        flex-wrap: wrap;
        justify-content: center;
        height:auto;
        min-height: 150px;
        margin-top:20px;
        margin-bottom: 20px;
        #left-home-container>div{
            justify-content: space-around;
            width:100vw;
        }
    }
    
    @include mixins.mQ-other(361px, 480px){
        flex-wrap: wrap;
        justify-content: center;
        height:auto;
        min-height: 200px;
        margin-top:20px;
        margin-bottom: 20px;
        #left-home-container{
            margin-left:5px;
            margin-right: 5px;
        }
            
        #right-home-container{
            width:100vw;
            justify-content: flex-end;
        }
    }
    
    @include mixins.mQ-other(481px,768px){
        height: 200px;
        margin-top:0px;

        #left-home-container{
            width:60vw;
        }

        #right-home-container{
            justify-content: center;
            width:25vw;
        }
    }
    
    @include mixins.mQ-other(769px,1149px){
    margin-top:20px;
    height: 250px;
    }
    
    @include mixins.mQ-other(1150px, 1699px){
        margin-top:20px;
    }
    
    @include mixins.mQ-other(1700px, 2298px){
        margin-top:70px;
    }
    
    @include mixins.mQ-largerDesktops(2299px){
        margin-top:100px;
        height: 500px;
    }
}
    
#middle-home-container{
    width:100vw;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom:50px;
    @include mixins.mQ-other(481px,768px){
        flex-direction: column;
        align-items: center;
        margin-bottom:20px;
    }
    
}