@use '../../../assets/Sass/mixins.scss';
@use '../../../assets/Sass/variables.scss';

.non-auth-navigation-container{
    font-size:1em;
    height:100vh;
    width:80vw;
    align-self:center;
    .non-auth-navigation-holder{  
        div{
            font-size:1.6em;
            box-sizing: border-box;
            padding:12px 20px;
            text-align: center;
            border-radius: 8px;
            margin:10px;
            &:nth-child(1){
                background-color: variables.$titleColor;
                &:hover{
                    cursor: pointer;
                    padding:10px 18px;
                    border: 2px solid variables.$titleTextColor;
                }
            }
            &:nth-child(2){
                background-color: variables.$titleTextColor;
                color:variables.$beige;
                &:hover{
                    cursor: pointer;
                    padding:10px 18px;
                    border: 2px solid variables.$ParticipantTextColor2;    
                }
            }
        }
    }

    #non-auth-main-title{
        font-size:3em;
        position: relative;
        right:150px;
    }

    #non-auth-smaller-titles{
        align-self:flex-end;
        p:nth-child(1){
            position: relative;
            right:100px;
            color:variables.$ParticipantColor4; 
        }
        p:nth-child(2){
            position: relative;
            right:75px;
            color:variables.$ParticipantColor9;
        }
        p:nth-child(3){
            position: relative;
            color:variables.$ParticipantColor3;
            right:50px;
        }
        p:nth-child(4){
            position: relative;
            color:variables.$ParticipantColor2;
            right:2px;
        }
    }

    @include mixins.mQ-phones(360px){  
        width:100vw;
        padding:20px;
        font-size:0.9em;

        .non-auth-navigation-holder{
            font-size:01em;
            margin-top:20px;
            div{
                padding:5px 15px;
            }
        }

        #non-auth-main-title{
            font-size:2em;
            right:0px;
        }

        #non-auth-smaller-titles{
            font-size:1em;
            margin-top:20px;
            margin-bottom:20px;
        }
    }

    @include mixins.mQ-other(361px, 480px){
        width:100vw;
        font-size:0.7em;

        .non-auth-navigation-holder{
            font-size:1.2em;
            margin-top:20px;
        }

        #non-auth-main-title{
            width:90vw;
            font-size:3em;
            right:0px;
        }

        #non-auth-smaller-titles{
            font-size:1.3em;
            margin-top:20px;
            margin-bottom:20px;
        }
    }

    @include mixins.mQ-other(481px,768px){
        font-size:0.7em;

        #non-auth-main-title{
            font-size: 2em;
            right:50px;
        }
    }
    
    @include mixins.mQ-other(769px,1280px){
        font-size:0.8em;

        #non-auth-main-title{
            right:50px;
            font-size:2.5em;
        }
    }

    @include mixins.mQ-largerDesktops(2300px){
        font-size:1.5em;
    }
}

#non-auth-picture-container{
    align-self: flex-start;
    position: relative;
    top:20px;
    left:50px;
    width: 300px;
    height:200px;

    img{
        max-width:350px;
    }

    @include mixins.mQ-phones(360px){
        left:0px;
        margin: 0 auto;
        img{
            max-width: 80vw;
        }
    }
    
    @include mixins.mQ-other(361px, 480px){
        top:70px;
        left:0px;
        margin:0 auto;
        img{
            max-width: 70vw;
        }
    }

    @include mixins.mQ-other(481px,768px){
        top:70px;
        img{
            max-width: 300px;
        }
    }

    @include mixins.mQ-other(769px,1149px){
        top:70px;
    }

    
    @include mixins.mQ-largerDesktops(2299px){
        img{
            max-width:600px;
        }
    }
}