@use '../../../assets/Sass/variables.scss';
@use '../../../assets/Sass/mixins.scss';

#manage-groups-container{
    background-color: #FFFEFC;
}

#manage-help{
    margin-top:20px;
    margin-left:175px;
    align-self: flex-start;
    svg{
        font-size:0.7em;
        margin-right:10px;
    }
    span{
        font-size:0.7em;
    }

    @include mixins.mQ-phones(360px){
        margin-left:20px;
        font-size:0.8em;
    }

    @include mixins.mQ-other(361px, 480px){
        margin-left:20px;
        font-size:0.8em;
    }

    @include mixins.mQ-other(481px,768px){
        margin-left:20px;
    }
}

#manage-title{
    padding:20px;
    border-radius: 5px;
    margin-top:20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 3px;

    @include mixins.mQ-phones(360px){
        margin-bottom:20px;
        padding: 10px 15px;
    }

    @include mixins.mQ-other(361px, 480px){
        margin-bottom:20px;
        padding: 10px 15px;
    }

    @include mixins.mQ-other(769px,1149px){
        font-size: 1.6em;
    }

    @include mixins.mQ-other(1700px, 2299px){
        text-transform: uppercase;
        font-size:2em;
        letter-spacing: 4px;
        word-spacing: 3px;
    }

    @include mixins.mQ-largerDesktops(2299px){
        text-transform: uppercase;
        font-size:2.5em;
        letter-spacing: 5px;
        word-spacing: 3px;
    }
}

.currently-changing-title{
    margin-top:20px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    span{
        padding:5px 10px;
        border-radius:7px;
    }

    @include mixins.mQ-phones(480px){
        span{
            text-align: center;
            font-weight: bold;
            font-size: 1em;
        }
    }

    @include mixins.mQ-other(769px,1149px){
        font-size:1.3em;
    }
}