@use '../../assets//Sass//mixins.scss';
@use '../../assets//Sass//variables.scss';

#profile-picture-container{
    margin-right:40px;
    position:relative;
    img{
            border:6px ridge variables.$ParticipantColor4;
            max-width:200px;
            max-height: 200px;
    }
    
     @include mixins.mQ-phones(360px){    
         margin-right: 0px;
        img{
            border:2px solid variables.$ParticipantColor4;
            padding:0px;
            max-width: 55vw;
            max-height:55vw;
        }
    }
    
    @include mixins.mQ-other(361px, 480px){
            img{
                max-width: 50vw;
                max-height:50vw;
                border:2px solid variables.$ParticipantColor4;
                padding:0px;
            }
    }
    
    @include mixins.mQ-other(481px,768px){
            img{
                max-width: 250px;
                max-height:250px;
            }
    }
    
    @include mixins.mQ-other(769px,1023px){
            img{
                max-width: 200px;
                max-height:200px;
            }
    }

    @include mixins.mQ-other(1024px,1699px){
            img{
                max-width: 300px;
                max-height:300px;
            }
    }

    @include mixins.mQ-other(1700px,2298px){
            img{
                max-width: 400px;
                max-height:400px;
            }
    }
    
    @include mixins.mQ-largerDesktops(2299px){
           img{
            max-height:450px;
            max-width:450px;
           }
    }
}
    
#profile-picture-hidden-div{
        position:absolute;
        background-color: rgba(0,0,0,0.9);
        top:0px;
        width:100%;
        height:100%;
        padding:3px;
        cursor: pointer;
        border:2px solid black;
}
    
.profile-picture-change-span{
        z-index: 2;
        color:variables.$background;
        text-align: center;
        text-decoration: underline;
    
        @include mixins.mQ-phones(360px){    
            font-size:0.6em;
        }
    
        @include mixins.mQ-other(361px, 480px){
            font-size:0.6em;
        }
    
        @include mixins.mQ-other(481px,768px){
            font-size:0.7em;
        }
}