
$titleColor: #FFC300;
$titleTextColor: #5F011C;
$confirmation:#378016;
$background: #FFFFF2;
$alternativeBackground:#FFFEFC;
$beige : #EADAC5;
$warningColor:#DA3435;
$dugmeZaNazad: #900C3F;
$dropZoneAllowed: #AAF7B6;
$ParticipantColor1:#BB2A43;
$ParticipantTextColor1: #fefefe;
$ParticipantColor2:#000;
$ParticipantTextColor2 :#F2D333;
$ParticipantColor3: #254391;
$ParticipantTextColor3: #FFFFFF;
$ParticipantColor4: #961F44;
$ParticipantTextColor4: #E3BE2C;
$ParticipantColor5: #D38C7B;
$ParticipantColor6: #389D9D;
$ParticipantColor7: #FFFFFF;
$ParticipantColorText7:#BE2B27;
$ParticipantColor8: #EE9C28;
$ParticipantColor9: #0D4330;
$ParticipantColorText9:#FAFE3B;
$containerColor:#E1E1D2;
$inputFieldColor: #E7FFFB;
$authButtonColor: #83B6AE;